<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>SRNG Studio</string>
  <key>CFBundleDisplayName</key>
  <string>SRNG Studio</string>
  <key>CFBundleIdentifier</key>
  <string>dev.srng.studio</string>
  <key>CFBundleExecutable</key>
  <string>srng-studio</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.7.0</string>
  <key>CFBundleVersion</key>
  <string>0.7.0</string>
  <key>CFBundleIconFile</key>
  <string>srng-studio.icns</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>SRNG Vector Graphic</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>dev.srng.graphics</string>
      </array>
    </dict>
  </array>
  <key>UTImportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>dev.srng.graphics</string>
      <key>UTTypeDescription</key>
      <string>SRNG Vector Graphic</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.text</string>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>srng</string>
        </array>
        <key>public.mime-type</key>
        <string>application/x-srng</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
